.container {
  position: relative;
        max-width: calc(1600px + 60px);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.content-left {
  position: relative;
  max-width: 800px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

.content-right {
  position: relative;
  max-width: 495px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  position: relative;
  max-width: 168px;
  width: 100%;
  margin: 0 auto;
}
