// Colors -- Основные цвета и цвета текста
$accent: #0d99ff;
$text: #1b1b1b;
$white: #ffffff;
$blackLight: #494949;
$black: #1b1b1b;
$grayDark: #888888;
$blackLightO: #6c6c6c; // O -- opacity  60%

$blue: #0d99ff;
$blueH: #0074c9; // H -- Hover
$blueO: #98caef; // O -- opacity  60%
$green: #31aa27;
$greenH: #097900; // H -- Hover
$yellow: #ffcb57;
$red: #f91155;
$redH: #c10039; // H -- Hover
$gray: #c9c9c9;

// Fill -- Цвета заливки
$fillBlue: #0d99ff;
$fillHBlue: #0074c9; // H -- Hover
$fillWhite: #ffffff;
$fillYellow: #ffcb57;
$fillGray: #c9c9c9;
$fillBg: #f9f9f9;

// Frame -- Цвета обводки или фрейма
$frameRed: #f91155;
$frameRedH: #c10039; // H -- Hover
$frameBlue: #0d99ff;
$frameHBlue: #0074c9; // H -- Hover
$frameGrayLight: #dbdbdb;
$frameGray: #c9c9c9;
$frameGreen: #31aa27;
$frameGreenH: #097900; // H -- Hover
$frameBlack: #1b1b1b;
$frameBlackLight: #494949;
$frameBlackLightOH: #6c6c6c; // OH -- opacity n hover

// Error -- Цвета ошибок
$errorRed: #ff0330;
$trans: all 0.2s ease;
