@import "styles/vars";

.how {
  margin-top: 184px;
  .subtitle {
    margin-top: 24px;
    max-width: 800px;
    color: $blackLight;
  }
}

.how__video {
  margin-top: 56px;
  height: 600px;
  border-radius: 8px;
  background: #000;
}
